.profile__info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 7px 19px;
  width: 336px;
  margin-right: auto;
}

@media screen and (max-width: 425px) {
  .profile__info {
    justify-content: center;
    width: 282px;
    margin-top: 22.25px;
    margin-bottom: 36px;
    gap: 10px 14px;
    margin-right: 0;
  }
}
