.place {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  border-radius: 10px;
  gap: 25px;
  background-color: #fff;
  flex: 0 0 282px;
  /* height: 362px; */
  overflow: hidden;
}
